<!-- [[extend 'layout.html']] -->

<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>

    <div class="section">
        <div class="block">
                <article>
                    <p class="title" style="text-align: center;">< Leader Member ></p>
                    <p class="subtitle" style="text-align: center;">< Rank: Plastic 20 ></p>
                    <p class="subtitle" style="text-align: center;">< NA-West: Casual ></NA-West:></p>
                    <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 10%; margin-left:auto; margin-right:auto"></p>
                </article>
            </div>
        </div>
    </div>
    <!-- is-danger -->
    <div class="section">
        <article class="tile is-child notification" style="background-color: #ff6767; color: white">
            <div class="section">
               <h1 class="subtitle">Members</h1>
               <div class="block">
                  <table class="table is-fullwidth">
                     <tr>
                        <th>Player 2: </th>
                        <th>Player 3: </th>
                     </tr>
                     <tr>
                        <th>Player 4: </th>
                        <th>Player 5: </th>
                     </tr>
                  </table>
               </div>
            </div>
            <div style="text-align: center">
                <button style="text-align: center"class="button is-white">Join</button>
                <button style="text-align: center"class="button is-white">Leave</button>
            </div>
         </article>
    </div>
</body>

</html>