<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<!-- [[extend 'layout.html']] -->

<style>
    [v-cloak] {
         display: none;
    }
</style>

<section class="section" id="vue_target" v-cloak>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6 pr-2 pl-2">
            <article class="tile is-child notification is-danger">
                <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 40%; margin-left:auto; margin-right:auto"></p>
                <p class="subtitle" style="text-align: center">MEMBER 1 icons not working</p>
                <span @click="set_rating(r._idx, 2)" class="icon has-text-info" style="padding: 15px;"> <!-- TILTPROOF 2 -->
                    <i v-if="r.rating <= 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, 1)" class="icon has-text-info" style="padding: 15px;"> <!-- LEADER 1 -->
                    <i v-if="r.rating > 1 || r.rating < 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -1)" class="icon has-text-info" style="padding: 15px;"> <!-- FUN GAME -1 -->
                    <i v-if="r.rating > -1 || r.rating < -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -2)" class="icon has-text-info" style="padding: 15px;"> <!-- COMMUNICATIVE -2 -->
                    <i v-if="r.rating >= -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
            </article>
            <article class="tile is-child notification is-danger">
                <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 40%; margin-left:auto; margin-right:auto"></p>
                <p class="subtitle" style="text-align: center">MEMBER 2</p>
                <span @click="set_rating(r._idx, 2)" class="icon has-text-info" style="padding: 15px;"> <!-- TILTPROOF 2 -->
                    <i v-if="r.rating <= 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, 1)" class="icon has-text-info" style="padding: 15px;"> <!-- LEADER 1 -->
                    <i v-if="r.rating > 1 || r.rating < 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -1)" class="icon has-text-info" style="padding: 15px;"> <!-- FUN GAME -1 -->
                    <i v-if="r.rating > -1 || r.rating < -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -2)" class="icon has-text-info" style="padding: 15px;"> <!-- COMMUNICATIVE -2 -->
                    <i v-if="r.rating >= -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
            </article>
        </div>
        <div class="tile is-vertical is-6 pr-2 pl-2">
            <article class="tile is-child notification is-danger">
                <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 40%; margin-left:auto; margin-right:auto"></p>
                <p class="subtitle" style="text-align: center">MEMBER 3</p>
                <span @click="set_rating(r._idx, 2)" class="icon has-text-info" style="padding: 15px;"> <!-- TILTPROOF 2 -->
                    <i v-if="r.rating <= 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, 1)" class="icon has-text-info" style="padding: 15px;"> <!-- LEADER 1 -->
                    <i v-if="r.rating > 1 || r.rating < 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -1)" class="icon has-text-info" style="padding: 15px;"> <!-- FUN GAME -1 -->
                    <i v-if="r.rating > -1 || r.rating < -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -2)" class="icon has-text-info" style="padding: 15px;"> <!-- COMMUNICATIVE -2 -->
                    <i v-if="r.rating >= -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
            </article>
            <article class="tile is-child notification is-danger">
                <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 40%; margin-left:auto; margin-right:auto"></p>
                <p class="subtitle" style="text-align: center">MEMBER 4</p>
                <span @click="set_rating(r._idx, 2)" class="icon has-text-info" style="padding: 15px;"> <!-- TILTPROOF 2 -->
                    <i v-if="r.rating <= 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, 1)" class="icon has-text-info" style="padding: 15px;"> <!-- LEADER 1 -->
                    <i v-if="r.rating > 1 || r.rating < 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == 1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -1)" class="icon has-text-info" style="padding: 15px;"> <!-- FUN GAME -1 -->
                    <i v-if="r.rating > -1 || r.rating < -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
                <span @click="set_rating(r._idx, -2)" class="icon has-text-info" style="padding: 15px;"> <!-- COMMUNICATIVE -2 -->
                    <i v-if="r.rating >= -1" class="fas fa-check-square"></i> <!-- THIS BUTTON IS UNCLICKED -->
                    <i v-if="r.rating" == -2" class="fas fa-check-square"></i> <!-- THIS BUTTON IS CLICKED -->
                </span>
            </article>
        </div>
    </div>
</section>
