<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>

<section class="section notification is-grey-darker">
    <div class="tile is-ancestor">
        <div class="tile">
            <div class="tile is-3">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-danger">
                        <p>pfp</p>
                        <p style="text-align: center"><img src="https://drive.google.com/thumbnail?id=1hayho3LlzboGG4XPIJTbqb7M0vru0Wem" style="width: 40%; margin-left:auto; margin-right:auto"></p>
                    </article>
                    <article class="tile is-child notification is-primary">
                        <p>social elo icons not working</p>
                        <span class="icon has-text-info" style="padding: 15px;">
                            <!-- FOUR ICONS HERE FOR SOCIAL RATING -->
                            <i class="fa fa-thumbs-up fa-2x"></i>
                            <i class="fa fa-thumbs-up fa-2x"></i>
                            <i class="fa fa-thumbs-up fa-2x"></i>
                            <i class="fa fa-thumbs-up fa-2x"></i>
                        </span>
                    </article>
                </div>
            </div>
            <div class="tile">
                <article class="tile is-child"> <!-- scuffed as fuck ill fix this later -->
                    <p class="title">USERNAME</p>
                    <span>
                        <p>BIO</p><a class="button"><span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span></a>
                    </span>
                    <span>
                        <p>GAMERTAG</p><a class="button"><span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span></a>
                    </span>
                    <span>
                        <p>REGION</p><a class="button"><span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span></a>
                    </span>
                    <span>
                        <p>MICROPHONE ICON</p><a class="button"><span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span></a>
                    </span>                    
                </article>
            </div>
        </div>
    </div>
</section>

</body> 

</html>